# Specific
docs
data/classification/original/images_gz2
data/classification/original/gz2_hart16.csv
data/classification/processed/processed_images.npz

# General
**/*.code-workspace
**/.vscode
**/.venv
**/venv/
**/uv.lock
**/.ipynb_checkpoints
**/pyproject.toml

