ipympl==0.9.8
jupyter==1.1.1
# jupyterlab-vim==4.1.4
jupytext==1.18.1
matplotlib==3.10.7
numpy==2.3.4
opencv-python==4.11.0.86
pandas==2.3.3
pyqt5==5.15.11
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.2
tensorflow==2.20.0
